{% load static %}

<div class="container fw-bold">

    <header class="  py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">

            <div class="col-4">
                <a class="link-secondary" href="#">Subscribe</a>
            </div>

            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">
                    <img src="{% static 'logo_md' %}">
                </a>
            </div>

            <div class="col-4 d-flex justify-content-end">
                <a class="link-secondary mx-2" href="#">Login</a>
                <a class="link-secondary mx-2" href="#">Register</a>
            </div>

        </div>
    </header>

    <hr class="divider">
    </hr>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% for menu_item in menu_items %}
                        <a class="nav-link" href="{{ menu_item.get_absolute_url }}">{{ menu_item.text }}</a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </nav>

</div>