<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/head.html' %}

    {% block meta %}
    {% endblock %}

    {% block styles %}
    {% endblock %}
</head>

<body>

    {% include 'includes/navbar.html' %}

    <div class="bg-primary pt-10 pb-21"></div>
    <div class="mt-3 container mt-n22 px-6">

        {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
                role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}

        {% block mansonary %}
        {% endblock %}

        <div class="mt-3 row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

                {% block body %}
                {% endblock %}

            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                {% include 'includes/sidebar.html' %}
            </div>
        </div>

        {% if ads_footer %}
        <div class="card text-center mb-3 p-3">
            {{ ads_footer|safe }}
        </div>
        {% endif %}

        <div class="text-center my-6">
            <div class="mb-4">
                {% for menu_item in footer_menu %}
                    <a class="text-dark text-primary-hover mx-2" href="{{ menu_item.get_absolute_url }}">{{ menu_item.get_text }}</a>
                    {% if not forloop.last %}
                        /
                    {% endif %}
                {% endfor %}
            </div>
            {{ cms_copyright}}
        </div>
    </div>
  
    {% include 'includes/foot.html' %}
    {% block scripts %}
    {% endblock %}
</body>

</html>