{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load humanize %}

{% block meta %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block mansonary %}
{% endblock %}

{% block body %}

<div class="card mb-3">
    <div class="text-center card-header bg-white">
        <h1 class="fw-bold">Contact Us</h1>
    </div>

    <div class="card-body">
        <div style="text-align: justify;">
            <p class="mb-3 lead">

            </p>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}