{%load static %}
{% load thumbnail %}

<div class="header">
  <nav class="navbar-classic navbar navbar-expand-lg">
    <span style="cursor: pointer; padding: 5px;" id="nav-toggle"><i data-feather="menu" class="nav-icon me-2 icon-xs"></i></span>

    <div class="ms-lg-3">
    <a class="mx-2" href="{% url 'homepage' %}">View Site</a>
    </div>

    <ul class="navbar-nav navbar-right-wrap ms-auto d-flex nav-top-wrap">
      <a class="rounded-circle" href="{% url 'user_dashboard' %}">
        <div class="avatar avatar-md avatar-indicators avatar-online">

          {% if request.user.profile_photo %}
              {% thumbnail request.user.profile_photo "400x400" crop="center" as img %}
                  <img src="{{ img.url }}" class="rounded-circle">
              {% endthumbnail %}
          {% else %}
              <img src="{% static 'images/blank_user_md.png' %}" class="rounded-circle">
          {% endif %}

        </div>
      </a>
    </ul>

  </nav>
</div>